$blockchain-red: #E56B6F;
$blockchain-red-light: #fd9296;
$blockchain-grey: #999999;
$blockchain-dark-grey: #7c7c7c;
$blockchain-dark-blue: #355070;
$blockchain-light-blue: #AFCFF5;
$blockchain-pink: #FDEAE2;