@import './../../styles/colors.scss';

.root {
    padding: .5rem;
    margin-bottom: .75rem;
    width: 100%;
    cursor: pointer;

    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .imageDiv {
            width: 50%;
            display: flex;
            justify-content: center;

            .image {
                height: 120px;
            }
        }

        .carDetails {
            width: 100%;
            display: flex;
            justify-content: center;

            .carDetailsLeft, .carDetailsRight {
                width: 50%;
            }
        }
    }

    p {
        margin: 0;
        padding: 0;
    }

    &.active {
        outline: 6px solid $blockchain-light-blue;
    }

}

@media (max-width: 520px) {
    .root {
        width: 100%;
        .content {
            .carDetails {
                flex-direction: column;

                .carDetailsLeft, .carDetailsRight {
                    width: 100%;
                }
            }

            .imageDiv {
                .image {
                    height: 100px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .root {
        width: 100%;
        .content {
            .carDetails {
                flex-direction: column;
            }

            .imageDiv {
                .image {
                    height: 75px;
                }
            }
        }
    }
}
